@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2")format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2")format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2")format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2")format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-narrow-bold.woff2")format("woff2");
    font-display: swap;
}

body{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
}

.button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #756257;
}

.newsletter-button {
    line-height: 26px;
    background-color: #83B3D3;
}

.navigation-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #756257;
}

.page-header{
    color: #000000;
    background: #ffffff;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.main-index {
    color: #333333;
    background-color: #ffffff;
    background-image: url("../image/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.advantages-list {
    text-align: center;
}

.advantages-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.recommendations-list {
    text-align: center;
}

.recommendations-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.offers {
    text-align: center;
}

.offers-question {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter {
    text-align: center;
    background-color: #83B3D3;
    color: #ffffff;
    background-image: url(../image/background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.newsletter-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-paragraph {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.intro {
    text-align: center;
}

.intro-heading {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.intro-paragraph {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}

.advantages-item-special {
    background-color: #83B3D3;
    color: #ffffff;
}

.telephone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.header-catalog {
    color: #ffffff;
    background-color: #3F5E72;
    background-image: url(../image/catalog-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.inner-header-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.control-label {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.catalog-button-apply {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.catalog-button-cancel {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}

.found-paragragh {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.product-card-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    
}

.product-card-link {
    text-decoration: none;
}

.product-card-type, 
.product-card-price {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.product-card-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.product-card-button-favourites { 
    color: #ffffff;
    background-color: #83B3D3;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.product-card-button-favourites-selected {
    background-color: #7DB54F;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.product-card-rating-mark {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.pagination-show-more {
    background-color: #83B3D3;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
}

.pagination-link {
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    text-align: center;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.number-of-hotels-label {
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.newsletter-title {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.newsletter-inner {
    text-align: center;
}

.newsletter-paragraph {
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}